[submodule "GOTM/cases"]
	path = GOTM/cases
	url = https://github.com/gotm-model/cases.git
[submodule "GOTM/code"]
	path = GOTM/code
	url = https://github.com/gotm-model/code.git
[submodule "FABM/code"]
	path = FABM/code
	url = https://github.com/fabm-model/fabm.git
