# ignore model setup files
OCS_Papa_2007/setup_files/
Papa_forcast/forcing_files/

# ignore data file
*.nc
*.cdf
*.mat

# ignore figs 
OCS_Papa_2007/output_figs/
OCS_Papa_2007/pre_figs/
OCS_Papa_2007/test_figs/
Papa_forcast/figs/
